
{% extends 'base.html' %}
{% load static %}
{% block content %}


  <header class="masthead">

    <div class="container d-flex  align-items-center" >

      <div class="mx-auto text-center" style="margin-top:10%">
        <h1 class="mx-auto my-0 text-uppercase " align="center" margin-top:30%>About</h1>
          <hr color="gray" >
          <br>
          <br>
            <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <img style="height:500px" src="{% static 'img/ahmet.jpg'%}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h3 class="card-title">Ahmet Göçer</h3>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <img style="height:500px" src="{% static 'img/yalcin.jpg'%}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h3 class="card-title">Ali Yalçın Ağırkan</h3>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                  </div>
                </div>
              </div>
            </div>
          <br>
          <br>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">
This site explains the mysteries of turkey. </h2>
        <!--
        >a href="#about" class="btn btn-primary js-scroll-trigger">Let's Discover</a>
        -->
      </div>
    </div>
  </header>




{% endblock %}
