
{% extends 'base.html' %}
{% load static %}
{% block content %}


  <header class="masthead">

    <div class="container d-flex h-50 align-items-center">

      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase " align="center" margin-top:30%>About</h1>
          <hr color="red" >
          <br>
          <br>
          <br>
          <br>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">
This site explains the mysteries of turkey. </h2>
        <!--
        >a href="#about" class="btn btn-primary js-scroll-trigger">Let's Discover</a>
        -->
      </div>
    </div>
  </header>




{% endblock %}
