{% extends 'base.html'%}
{% load static %}
{% block content%}

  <header class="masthead" >

    <div class="container d-flex  align-items-center" >

        <div class="row" style="margin-top:10%; margin-bottom:20%">
            <div class="pagination" style="width:100%" align="center" >
                {% if is_paginated %}
                <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li>
                        <span ><a href="?page={{ page_obj.previous_page_number }}" >Previous</a></span>
                    </li>
                {% endif %}
                    <li class="">
                        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                    </li>
                {% if page_obj.has_next %}
                    <li>
                        <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
                    </li>
                {% endif %}
                </ul>
                {% else %}
                    <h3>Your File Exam</h3>
                    <p>File not yet available</p>
                {% endif %}
            </div>
            {% for cities in object_list %}

                <div class="card" style="width: 40%; margin:3%">
                  <img src="{% static cities.cover.url %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h3 class="card-title" style="text-transform: uppercase" align="center">{{cities.title}}</h3>
                    <p class="card-text">{{cities.content|safe|truncatewords:"25"}} <a href="" style="text-decoration:underline;color:red">Readmore</a></p>
                    <a href="{% url 'city' %}" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>

            {% endfor %}
            <div class="pagination" style="width:100%" align="center" >
                {% if is_paginated %}
                <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li>
                        <span ><a href="?page={{ page_obj.previous_page_number }}" >Previous </a></span>
                    </li>
                {% endif %}
                    <li class="">
                        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                    </li>
                {% if page_obj.has_next %}
                    <li>
                        <span><a href="?page={{ page_obj.next_page_number }}">Next </a></span>
                    </li>
                {% endif %}
                </ul>
                {% else %}
                    <h3>Your File Exam</h3>
                    <p>File not yet available</p>
                {% endif %}
            </div>

        </div>
    </div>

     </div>
  </header>

{% endblock %}
